QLineEdit, QLineEdit:hover, QLineEdit:active {
    font-size: 16px;
    width: 720px;
    height: 29px;
    border: 7px solid rgb(23,91,137);
    background: rgb(60,60,60);
}

* {
    background: rgb(37, 37, 38);
}