* {
    font-family: Segoe UI;
    background: rgb(37, 37, 38);
    color: rgb(204, 204, 204);
}

QListView {
    border: none;
}

QScrollBar:vertical * {
    background-color: #000;
}

QScrollBar:vertical {
    border: none;
    width: 12px;
    border-radius: 6px;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: rgba(0,0,0,0.1);
}

QScrollBar::handle:vertical {
    background: rgba(255,255,255,0.3);
    min-height: 20px;
    border-radius: 6px;
}

QScrollBar::add-line:vertical {
    width: 0;
    height: 0;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    width: 0;
    height: 0;
    subcontrol-position: top;
    subcontrol-origin: margin;
}