div {
	font-size: 18px;
	font-family: Segoe UI;
	color: rgb(97, 103, 107);
}

em {
	font-weight: bold;
	font-style: normal;
	color: rgb(255, 204, 102);
}

span {
	font-size: 13px;
	font-family: Segoe UI;
	color: transparent;
	display: none;
}